
body{
    /*background: #254688 !important;*/

}

.c1{
  background: #526575 !important;
  color: #000;
}
.c11{
  background: #6068b9 !important;
}

.ch2{
  background: #fff !important;
  color: #000;
}
.c2{
  background: #e15f09;
}

.ch3{
  background: #205eed !important;
}
.c3{
  background: #f1cd11 !important;
  color: #000;
}

.ch4{
  background: #1d66d7 !important;
}
.c4{
  background: #0e1c57 !important;
}
